<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex="66%">MyAnimeList</div>
    <div
      fxFlex
      fxLayout
      fxLayoutAlign="flex-end"
      fxLayoutGap="15px"
      *ngIf="isAuthenticated"
    >
      <button mat-raised-button>Audemed</button>
      <button mat-raised-button (click)="isAuthenticated = !isAuthenticated">
        Logout
      </button>
    </div>
    <div
      fxFlex
      fxLayout
      fxLayoutAlign="flex-end"
      fxLayoutGap="15px"
      *ngIf="!isAuthenticated"
    >
      <button
        mat-raised-button
        color="accent"
        (click)="isAuthenticated = !isAuthenticated"
      >
        Login
      </button>
      <button mat-raised-button>Sign Up</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
